<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-gateway-param-heading"
        data-cy="GatewayParamCreateUpdateHeading"
        jhiTranslate="gatewayParamApp.bmmsGatewayParam.home.createOrEditLabel"
      >
        Create or edit a Gateway Param
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayParamApp.bmmsGatewayParam.url" for="field_url">Url</label>
          <input type="text" class="form-control" name="url" id="field_url" data-cy="url" formControlName="url" />
          <div *ngIf="editForm.get('url')!.invalid && (editForm.get('url')!.dirty || editForm.get('url')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('url')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 512 }"
            >
              This field cannot be longer than 512 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayParamApp.bmmsGatewayParam.type" for="field_type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'gatewayParamApp.RequestType.null' | translate }}</option>
            <option *ngFor="let requestType of requestTypeValues" [value]="requestType">
              {{ 'gatewayParamApp.RequestType.' + requestType | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayParamApp.bmmsGatewayParam.username" for="field_username">Username</label>
          <input type="text" class="form-control" name="username" id="field_username" data-cy="username" formControlName="username" />
          <div *ngIf="editForm.get('username')!.invalid && (editForm.get('username')!.dirty || editForm.get('username')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('username')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 32 }"
            >
              This field cannot be longer than 32 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayParamApp.bmmsGatewayParam.password" for="field_password">Password</label>
          <input type="text" class="form-control" name="password" id="field_password" data-cy="password" formControlName="password" />
          <div *ngIf="editForm.get('password')!.invalid && (editForm.get('password')!.dirty || editForm.get('password')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('password')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 64 }"
            >
              This field cannot be longer than 64 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayParamApp.bmmsGatewayParam.token" for="field_token">Token</label>
          <input type="text" class="form-control" name="token" id="field_token" data-cy="token" formControlName="token" />
          <div *ngIf="editForm.get('token')!.invalid && (editForm.get('token')!.dirty || editForm.get('token')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('token')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 128 }"
            >
              This field cannot be longer than 128 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayParamApp.bmmsGatewayParam.body" for="field_body">Body</label>
          <input type="text" class="form-control" name="body" id="field_body" data-cy="body" formControlName="body" />
          <div *ngIf="editForm.get('body')!.invalid && (editForm.get('body')!.dirty || editForm.get('body')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('body')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 2048 }"
            >
              This field cannot be longer than 2048 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayParamApp.bmmsGatewayParam.statusQuery" for="field_statusQuery">Status Query</label>
          <input
            type="text"
            class="form-control"
            name="statusQuery"
            id="field_statusQuery"
            data-cy="statusQuery"
            formControlName="statusQuery"
          />
          <div *ngIf="editForm.get('statusQuery')!.invalid && (editForm.get('statusQuery')!.dirty || editForm.get('statusQuery')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('statusQuery')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 256 }"
            >
              This field cannot be longer than 256 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayParamApp.bmmsGatewayParam.messageQuery" for="field_messageQuery"
            >Message Query</label
          >
          <input
            type="text"
            class="form-control"
            name="messageQuery"
            id="field_messageQuery"
            data-cy="messageQuery"
            formControlName="messageQuery"
          />
          <div
            *ngIf="editForm.get('messageQuery')!.invalid && (editForm.get('messageQuery')!.dirty || editForm.get('messageQuery')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('messageQuery')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 256 }"
            >
              This field cannot be longer than 256 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayParamApp.bmmsGatewayParam.successCode" for="field_successCode">Success Code</label>
          <input
            type="text"
            class="form-control"
            name="successCode"
            id="field_successCode"
            data-cy="successCode"
            formControlName="successCode"
          />
          <div *ngIf="editForm.get('successCode')!.invalid && (editForm.get('successCode')!.dirty || editForm.get('successCode')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('successCode')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 32 }"
            >
              This field cannot be longer than 32 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayParamApp.bmmsGatewayParam.callback" for="field_callback">Callback</label>
          <input type="text" class="form-control" name="callback" id="field_callback" data-cy="callback" formControlName="callback" />
          <div *ngIf="editForm.get('callback')!.invalid && (editForm.get('callback')!.dirty || editForm.get('callback')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('callback')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 512 }"
            >
              This field cannot be longer than 512 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayParamApp.bmmsGatewayParam.timeout" for="field_timeout">Timeout</label>
          <input type="number" class="form-control" name="timeout" id="field_timeout" data-cy="timeout" formControlName="timeout" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayParamApp.bmmsGatewayParam.headers" for="field_headers">Headers</label>
          <input type="text" class="form-control" name="headers" id="field_headers" data-cy="headers" formControlName="headers" />
          <div *ngIf="editForm.get('headers')!.invalid && (editForm.get('headers')!.dirty || editForm.get('headers')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('headers')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 1024 }"
            >
              This field cannot be longer than 1024 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayParamApp.bmmsGatewayParam.dataQueries" for="field_dataQueries">Data Queries</label>
          <input
            type="text"
            class="form-control"
            name="dataQueries"
            id="field_dataQueries"
            data-cy="dataQueries"
            formControlName="dataQueries"
          />
          <div *ngIf="editForm.get('dataQueries')!.invalid && (editForm.get('dataQueries')!.dirty || editForm.get('dataQueries')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dataQueries')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 1024 }"
            >
              This field cannot be longer than 1024 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayParamApp.bmmsGatewayParam.httpMethodType" for="field_httpMethodType"
            >Http Method Type</label
          >
          <select
            class="form-control"
            name="httpMethodType"
            formControlName="httpMethodType"
            id="field_httpMethodType"
            data-cy="httpMethodType"
          >
            <option [ngValue]="null">{{ 'gatewayParamApp.MethodType.null' | translate }}</option>
            <option *ngFor="let methodType of methodTypeValues" [value]="methodType">
              {{ 'gatewayParamApp.MethodType.' + methodType | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayParamApp.bmmsGatewayParam.protocol" for="field_protocol">Protocol</label>
          <select class="form-control" name="protocol" formControlName="protocol" id="field_protocol" data-cy="protocol">
            <option [ngValue]="null">{{ 'gatewayParamApp.ProtocolType.null' | translate }}</option>
            <option *ngFor="let protocolType of protocolTypeValues" [value]="protocolType">
              {{ 'gatewayParamApp.ProtocolType.' + protocolType | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayParamApp.bmmsGatewayParam.requestMediaType" for="field_requestMediaType"
            >Request Media Type</label
          >
          <input
            type="text"
            class="form-control"
            name="requestMediaType"
            id="field_requestMediaType"
            data-cy="requestMediaType"
            formControlName="requestMediaType"
          />
          <div
            *ngIf="
              editForm.get('requestMediaType')!.invalid &&
              (editForm.get('requestMediaType')!.dirty || editForm.get('requestMediaType')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('requestMediaType')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 64 }"
            >
              This field cannot be longer than 64 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayParamApp.bmmsGatewayParam.responseMediaType" for="field_responseMediaType"
            >Response Media Type</label
          >
          <input
            type="text"
            class="form-control"
            name="responseMediaType"
            id="field_responseMediaType"
            data-cy="responseMediaType"
            formControlName="responseMediaType"
          />
          <div
            *ngIf="
              editForm.get('responseMediaType')!.invalid &&
              (editForm.get('responseMediaType')!.dirty || editForm.get('responseMediaType')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('responseMediaType')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 64 }"
            >
              This field cannot be longer than 64 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayParamApp.bmmsGatewayParam.active" for="field_active">Active</label>
          <input type="checkbox" class="form-check" name="active" id="field_active" data-cy="active" formControlName="active" />
          <div *ngIf="editForm.get('active')!.invalid && (editForm.get('active')!.dirty || editForm.get('active')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('active')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayParamApp.bmmsGatewayParam.mode" for="field_mode">Mode</label>
          <select class="form-control" name="mode" formControlName="mode" id="field_mode" data-cy="mode">
            <option [ngValue]="null">{{ 'gatewayParamApp.ModeType.null' | translate }}</option>
            <option *ngFor="let modeType of modeTypeValues" [value]="modeType">
              {{ 'gatewayParamApp.ModeType.' + modeType | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayParamApp.bmmsGatewayParam.extIdQuery" for="field_extIdQuery">Ext Id Query</label>
          <input
            type="text"
            class="form-control"
            name="extIdQuery"
            id="field_extIdQuery"
            data-cy="extIdQuery"
            formControlName="extIdQuery"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayParamApp.bmmsGatewayParam.successOn2xx" for="field_successOn2xx"
            >Success On 2 Xx</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="successOn2xx"
            id="field_successOn2xx"
            data-cy="successOn2xx"
            formControlName="successOn2xx"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
