<div>
  <h2 id="page-heading" data-cy="GatewayParamHeading">
    <span jhiTranslate="gatewayParamApp.bmmsGatewayParam.home.title">Gateway Params</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayParamApp.bmmsGatewayParam.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-gateway-param"
        [routerLink]="['/gateway-param/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayParamApp.bmmsGatewayParam.home.createLabel"> Create a new Gateway Param </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="gatewayParams?.length === 0">
    <span jhiTranslate="gatewayParamApp.bmmsGatewayParam.home.notFound">No Gateway Params found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="gatewayParams && gatewayParams.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="url">
            <div class="d-flex">
              <span jhiTranslate="gatewayParamApp.bmmsGatewayParam.url">Url</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="type">
            <div class="d-flex">
              <span jhiTranslate="gatewayParamApp.bmmsGatewayParam.type">Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="username">
            <div class="d-flex">
              <span jhiTranslate="gatewayParamApp.bmmsGatewayParam.username">Username</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="password">
            <div class="d-flex">
              <span jhiTranslate="gatewayParamApp.bmmsGatewayParam.password">Password</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="token">
            <div class="d-flex">
              <span jhiTranslate="gatewayParamApp.bmmsGatewayParam.token">Token</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="body">
            <div class="d-flex">
              <span jhiTranslate="gatewayParamApp.bmmsGatewayParam.body">Body</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="statusQuery">
            <div class="d-flex">
              <span jhiTranslate="gatewayParamApp.bmmsGatewayParam.statusQuery">Status Query</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="messageQuery">
            <div class="d-flex">
              <span jhiTranslate="gatewayParamApp.bmmsGatewayParam.messageQuery">Message Query</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="successCode">
            <div class="d-flex">
              <span jhiTranslate="gatewayParamApp.bmmsGatewayParam.successCode">Success Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="callback">
            <div class="d-flex">
              <span jhiTranslate="gatewayParamApp.bmmsGatewayParam.callback">Callback</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="timeout">
            <div class="d-flex">
              <span jhiTranslate="gatewayParamApp.bmmsGatewayParam.timeout">Timeout</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="headers">
            <div class="d-flex">
              <span jhiTranslate="gatewayParamApp.bmmsGatewayParam.headers">Headers</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dataQueries">
            <div class="d-flex">
              <span jhiTranslate="gatewayParamApp.bmmsGatewayParam.dataQueries">Data Queries</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="httpMethodType">
            <div class="d-flex">
              <span jhiTranslate="gatewayParamApp.bmmsGatewayParam.httpMethodType">Http Method Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="protocol">
            <div class="d-flex">
              <span jhiTranslate="gatewayParamApp.bmmsGatewayParam.protocol">Protocol</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="requestMediaType">
            <div class="d-flex">
              <span jhiTranslate="gatewayParamApp.bmmsGatewayParam.requestMediaType">Request Media Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="responseMediaType">
            <div class="d-flex">
              <span jhiTranslate="gatewayParamApp.bmmsGatewayParam.responseMediaType">Response Media Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="active">
            <div class="d-flex">
              <span jhiTranslate="gatewayParamApp.bmmsGatewayParam.active">Active</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="mode">
            <div class="d-flex">
              <span jhiTranslate="gatewayParamApp.bmmsGatewayParam.mode">Mode</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="extIdQuery">
            <div class="d-flex">
              <span jhiTranslate="gatewayParamApp.bmmsGatewayParam.extIdQuery">Ext Id Query</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="successOn2xx">
            <div class="d-flex">
              <span jhiTranslate="gatewayParamApp.bmmsGatewayParam.successOn2xx">Success On 2 Xx</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let gatewayParam of gatewayParams; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/gateway-param', gatewayParam.id, 'view']">{{ gatewayParam.id }}</a>
          </td>
          <td>{{ gatewayParam.url }}</td>
          <td jhiTranslate="{{ 'gatewayParamApp.RequestType.' + gatewayParam.type }}">{{ gatewayParam.type }}</td>
          <td>{{ gatewayParam.username }}</td>
          <td>{{ gatewayParam.password }}</td>
          <td>{{ gatewayParam.token }}</td>
          <td>{{ gatewayParam.body }}</td>
          <td>{{ gatewayParam.statusQuery }}</td>
          <td>{{ gatewayParam.messageQuery }}</td>
          <td>{{ gatewayParam.successCode }}</td>
          <td>{{ gatewayParam.callback }}</td>
          <td>{{ gatewayParam.timeout }}</td>
          <td>{{ gatewayParam.headers }}</td>
          <td>{{ gatewayParam.dataQueries }}</td>
          <td jhiTranslate="{{ 'gatewayParamApp.MethodType.' + gatewayParam.httpMethodType }}">{{ gatewayParam.httpMethodType }}</td>
          <td jhiTranslate="{{ 'gatewayParamApp.ProtocolType.' + gatewayParam.protocol }}">{{ gatewayParam.protocol }}</td>
          <td>{{ gatewayParam.requestMediaType }}</td>
          <td>{{ gatewayParam.responseMediaType }}</td>
          <td>{{ gatewayParam.active }}</td>
          <td jhiTranslate="{{ 'gatewayParamApp.ModeType.' + gatewayParam.mode }}">{{ gatewayParam.mode }}</td>
          <td>{{ gatewayParam.extIdQuery }}</td>
          <td>{{ gatewayParam.successOn2xx }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/gateway-param', gatewayParam.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/gateway-param', gatewayParam.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(gatewayParam)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="gatewayParams && gatewayParams.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
