<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="gatewayParam">
      <h2 data-cy="gatewayParamDetailsHeading"><span jhiTranslate="gatewayParamApp.bmmsGatewayParam.detail.title">Gateway Param</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ gatewayParam.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayParamApp.bmmsGatewayParam.url">Url</span></dt>
        <dd>
          <span>{{ gatewayParam.url }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayParamApp.bmmsGatewayParam.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gatewayParamApp.RequestType.' + gatewayParam.type }}">{{ gatewayParam.type }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayParamApp.bmmsGatewayParam.username">Username</span></dt>
        <dd>
          <span>{{ gatewayParam.username }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayParamApp.bmmsGatewayParam.password">Password</span></dt>
        <dd>
          <span>{{ gatewayParam.password }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayParamApp.bmmsGatewayParam.token">Token</span></dt>
        <dd>
          <span>{{ gatewayParam.token }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayParamApp.bmmsGatewayParam.body">Body</span></dt>
        <dd>
          <span>{{ gatewayParam.body }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayParamApp.bmmsGatewayParam.statusQuery">Status Query</span></dt>
        <dd>
          <span>{{ gatewayParam.statusQuery }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayParamApp.bmmsGatewayParam.messageQuery">Message Query</span></dt>
        <dd>
          <span>{{ gatewayParam.messageQuery }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayParamApp.bmmsGatewayParam.successCode">Success Code</span></dt>
        <dd>
          <span>{{ gatewayParam.successCode }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayParamApp.bmmsGatewayParam.callback">Callback</span></dt>
        <dd>
          <span>{{ gatewayParam.callback }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayParamApp.bmmsGatewayParam.timeout">Timeout</span></dt>
        <dd>
          <span>{{ gatewayParam.timeout }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayParamApp.bmmsGatewayParam.headers">Headers</span></dt>
        <dd>
          <span>{{ gatewayParam.headers }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayParamApp.bmmsGatewayParam.dataQueries">Data Queries</span></dt>
        <dd>
          <span>{{ gatewayParam.dataQueries }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayParamApp.bmmsGatewayParam.httpMethodType">Http Method Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gatewayParamApp.MethodType.' + gatewayParam.httpMethodType }}">{{ gatewayParam.httpMethodType }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayParamApp.bmmsGatewayParam.protocol">Protocol</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gatewayParamApp.ProtocolType.' + gatewayParam.protocol }}">{{ gatewayParam.protocol }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayParamApp.bmmsGatewayParam.requestMediaType">Request Media Type</span></dt>
        <dd>
          <span>{{ gatewayParam.requestMediaType }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayParamApp.bmmsGatewayParam.responseMediaType">Response Media Type</span></dt>
        <dd>
          <span>{{ gatewayParam.responseMediaType }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayParamApp.bmmsGatewayParam.active">Active</span></dt>
        <dd>
          <span>{{ gatewayParam.active }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayParamApp.bmmsGatewayParam.mode">Mode</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gatewayParamApp.ModeType.' + gatewayParam.mode }}">{{ gatewayParam.mode }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayParamApp.bmmsGatewayParam.extIdQuery">Ext Id Query</span></dt>
        <dd>
          <span>{{ gatewayParam.extIdQuery }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayParamApp.bmmsGatewayParam.successOn2xx">Success On 2 Xx</span></dt>
        <dd>
          <span>{{ gatewayParam.successOn2xx }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/gateway-param', gatewayParam.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
